/* Importação das diretivas do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração de fonte base e Padrões */
@layer base {
  body {
    @apply font-sans antialiased text-dark bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}
