/* Importação das diretivas do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração de fonte base e Padrões (ATUALIZADO) */
@layer base {
  body {
    @apply font-sans antialiased bg-theme-dark text-gray-300; /* <-- FUNDO AZUL, TEXTO CLARO */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-white; /* <-- TÍTULOS BRANCOS */
  }
}
